.badge-checkin {
    background-color: #E8F3FF;
    color: #1473FF;
}

.badge-available {
    background-color: #e6f9ee;
    color: #1a8c45;
}

.badge-unavailable {
    background-color: #fff0f0;
    color: #e00;
}