@import "variables";

.btn-primary {
  color: #fff;
}

.btn-edit {
    background-color: $btn-edit-color;
    border: 1px solid rgba(20, 115, 255, .2);
    color: $color-main;
    font-weight: bold;
}