@import "variables";

.btn-primary {
  color: #fff;
}

.btn-edit {
  background-color: $btn-edit-color;
  border: 1px solid rgba(20, 115, 255, .2);
  color: $color-main;
  font-weight: bold;
}

.btn-edit:hover {
  background-color: $color-main-hover;
  color: $bg-color-main-hover;
}

.btn-admin-delete {
  background-color: $bg-color-admin-del;
  border: 1px solid $border-color-admin-del;
  color: $color-admin-del;
}

.btn-admin-delete:hover {
  background-color: $bg-color-admin-del-hover;
  color: $color-admin-del-hover;
}