$color-main: #1473FF;
$color-main-light: #79AFFF;
$color-main-hover: #0d5fd8;
$bg-color-main-hover: #7ab3ff;

$btn-edit-color: rgba($color-main-light, 0.4);

$primary: $color-main;
$secondary: #d4af37;

$bg-color-admin-del: #FFBEBE;
$border-color-admin-del: #FF9696;
$color-admin-del: #FF0000;
$bg-color-admin-del-hover: #ffa0a0;
$color-admin-del-hover: #cc0000;